.body {
    background-image: url(../images/background-image.jpg);
    background-size: cover;
    font-family: 'Lato', sans-serif;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}